body {
    background-color: rgb(41, 106, 127);
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
}
p {
    color: darkslategray;
    font-size: 1.2em;
}
ul {
    list-style-type: square;
}
img {
    max-width: 100%;
    height: auto;
}
